<h1>Products API</h1>

<p>This is a RESTful JSON API for Products's. It exposes the following endpoints:</p>

<ul>
  <li>
    <%= link_to "#get-products" do %>
      <code>GET /products</code>
    <% end %>
  </li>
</ul>

<h2 id="#get-products">GET /products</h2>
